<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}

<html>
    <head>
        <title>
            Breaking News: Cat does not give a damn
        </title>
        <style type="text/css">

        </style>
    </head>
    <body>
        <article>
            <h1>Breaking News: Cat does not give a damn</h1>
            <p><strong>Author:</strong> Corentin BOONAERT, <strong>Published:</strong> Yesterday</p>

            <div>
                <img src="http://peoplecancode-public.s3.amazonaws.com/cat.jpg">
            </div>

            <p>
                This paragraph will include the photo of a random cat that the author of this tutorial has found online. You can replace this text with any random text. The sole purpose of this copy is to fill the space and make sure that the image to the left has enough text to low around it. I even decided to copy the previous paragraph. This paragraph will include the photo of a random cat that the author of this tutorial has found online. You can replace this text with any random text. The sole purpose of this copy is to fill the space and make sure that the image to the left has enough text to low around it.
            </p>
            <p>This paragraph will include the photo of a random cat that the author of this tutorial has found online. You can replace this text with any random text. The sole purpose of this copy is to fill the space and make sure that the image to the left has enough text fo low around it.</p>

        </article>
    </body>
</html>

{% endblock  %}

</html>