<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}

<html>
    <head>
        <title>
            Breaking News: Cat does not give a damn
        </title>
        <style type="text/css">

        </style>
    </head>
    <body>
        <article>
            <h1>Breaking News: Cat does not give a damn</h1>
            <p><strong>Author:</strong> Corentin BOONAERT, <strong>Published:</strong> Yesterday</p>
            <div>
                <img src="http://peoplecancode-public.s3.amazonaws.com/cat.jpg">
            </div>
    </body>
</html>

{% endblock  %}

</html>