{% extends 'index.html' %}
{% block content %}
<section class="jumbotron text-center">
    <form action="" method="POST">
        {{ form.errors }}
        {{ form.csrf_token }}
        <!-- Formulaire "seConnecter"-->
        <div>
            <label for="login">Nom d'utilisateur</label>
            <input type="text" id="login" name="username">
        </div>
        <br>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password">
        </div>
        <br>
        <button type="submit">Se connecter</button>
    </form>

    <div class="button">
        
        <br>
</section>
{% endblock  %}