<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> >> Microlly</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
  <link rel="icon" type="image/png" href="https://thatistheday.com/wp-content/uploads/2016/03/favicon-thatday.png" />


  <!-- BOOTSTRAP - BARRE DE MENU -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- BOOTSTRAP - STYLE -->
  <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet" </head>
    <!--########################################### NAVIGATION DANS LE SITE -
    ########################################### -->

<body>
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">>> Microlly</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {%if request.path == url_for ('index')%} active {%endif%}">
            <a class="nav-link" href="{{ url_for('index') }}">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {%if request.path == url_for ('blog')%} active {%endif%}">
            <a class="nav-link" href="{{ url_for('blog') }}">Le Blog</span></a>
          </li>
          <li class="nav-item {%if request.path == url_for ('connexion')%} active {%endif%}">
            <a class="nav-link" href="{{ url_for('connexion') }}">Connexion</span></a>
          </li>
          <li class="nav-item {%if request.path == url_for ('inscription')%} active {%endif%}">
            <a class="nav-link" href="{{ url_for('inscription') }}">Inscription</span></a>
          </li>
          <li class="nav-item {%if request.path == url_for ('compte')%} active {%endif%}">
            <a class="nav-link" href="{{ url_for('compte') }}">Mon Compte</span></a>
          </li>
          {% if current_user.is_authenticated %}
            {{ current_user.prenom }} {{ current_user.nom }} {{ current_user.id }} {{ current_user.nom_utilisateur }}
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Rechercher">
        </form>
      </div>
    </nav>
  </header>


  <!--########################################### INDEX - ########################################### -->
  <main role="main">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    <!-- PAGE D'INDEX -->
    <br>
    <br>
    <h1>
      <center>BIENVENUE SUR LA PAGE D'ACCUEIL DE MICROLLY</center>
    </h1>
    <h6>
      <center>MICRO-BLOG REALISÉ PAR CORENTIN BOONAERT ET SEBASTIEN COCHET POUR LE COURS DE SAMY DELAHAYE.</center>
    </h6>
    <br>
    <br>
    <center><img
        src="https://i1.wp.com/www.datapluspeople.com/wp-content/uploads/2018/03/python-powered-w.png?resize=700%2C280&ssl=1"
        height="200" width="500" alt="Powered By Python"></center> <!-- LOGO PYTHON -->
    <center><img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png" height="200" width="500"
        alt="GitLab"></center> <!-- LOGO GITLAB -->
    <center><img src="https://blog.launchdarkly.com/wp-content/uploads/2018/10/visualstudio_code-card.png" height="175"
        width="350" alt="Visual Studio Code"></center> <!-- LOGO VISUAL STUDIO CODE -->
    <br>
    <br>
    <br>
    <div align="right">&copy; Copyright 2019 by Corentin BOONAERT et Sebastien COCHET</a>.</div>
    {% endblock  %}
  </main>

</html>