{% extends 'index.html' %} 

{% block content %}

    <section class="jumbotron text-center">
        <form action="/inscription" method="POST"> <!-- Formulaire "seConnecter"-->
            {% for field in form %}
                {% if field.widget.input_type != 'hidden' %}
                    <br>
                    {{ field.label() }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="alert alert-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {{ field() }}

            {% endfor %}
            <br>
            <button type="submit">Enregistrer</button>
        </form>
    </section>  
{% endblock  %}
